  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#050808);
}
.calculator{
    border:1px solid #9b9292;
    padding:20px;
    border-radius:  16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);


}
input{
    width:320px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5) ;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(203, 240, 240);

}
input::placeholder{
    color: rgb(203, 240, 240);
}
button{
    border:none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: antiquewhite;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255,255, 0.2);
    cursor: pointer;
}
.equalbutton{
    color:white ;
    background-color: rgb(185, 61, 3);
}
.ac{
    color: red;
}
.no{
    color: blueviolet;
}
.operators{
    color: rgb(14, 219, 14) ;
}
